<style>
	h1 {
		text-align: center;
		font-size: 6em;
	}

	h2 {
		text-align: center;
		font-size: 4em;
	}

	.genre-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.movie-container {
		display: block;
		max-width: 300px;
		max-height: 500px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
		border: 2px solid black;
		border-radius: 10px;
		transition-duration: .5s;
		transition-timing-function: linear;
		box-shadow: 10px 10px 5px grey;
	}
	
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.movie-container:hover {
		box-shadow: 15px 15px 5px black;	
	}

	.movie-title {
		padding-bottom: 10px;	
	}

	.movie-desc {
		font-size: 16px;
	}
</style>

<h1>Movies currently playing</h1>

{{#each genres}}
	<div class="overall-container">
		<div class="genre-title" id="{{this.name}}">
			<h2>{{this.name}} movies</h2>
		</div>
		<div class="genre-container">
			{{#each ../movies}}
				{{#compare ../this.id this.genre_ids }}
					<div class="movie-container">
						<div class="movie-img">
							<a href="/movies/{{this.id}}" ><img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="{{this.original_title}}"></a>
						</div>
					</div>
				{{/compare}}
			{{/each}}
		</div>
		<br>
	</div>
{{/each}}
</div>
	
